.main-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 7fr 7fr;
  grid-template-rows: 3fr 12fr;
}

.outlet-container {
  grid-area: 1 / 3 / -1 / -1;
  background-color: burlywood;
}

.contacts-container {
  grid-area: 2 / 2 / -1 / 3;
  background-color: blueviolet;
}

.filters-container {
  grid-area: 1 / 2 / 2 / 3;
  background-color: red;
}

.settings-container {
  grid-area: 1 / 1 / -1 / 2;
  background-color: gray;
}
